@use 'variables';

.article {
  @include variables.breakpoint('md') {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: var(--mm-max-width);
  }

  @include variables.breakpoint('xl') {
    display: grid;
    height: 100%;
  }

  @include variables.breakpoint('xxl') {
    justify-items: start;
  }
}

.article__container {
  max-width: 800px;
}

.article__header-image {
  border-radius: var(--mm-border-radius);
  margin: 0;
  margin: var(--mm-spacing) 0;
  width: 100%;
}
