@use 'mixins';
@use 'variables';

.blog-posts__wrapper {
  @include mixins.page-alignment;
}

.blog-post__content {
  a {
    align-items: center;
    font-weight: 500;
    height: 20px;
  }
}

.blog-post__heading {
  color: var(--mm-color-dark-blue);
  margin-top: 0;
  padding: 0 0 calc(var(--mm-spacing) / 2);
}

.blog-post__container {
  border-top: 1px dashed var(--mm-color-border);
  padding-top: calc(var(--mm-spacing) / 2);
}

.blog-posts {
  display: grid;
  gap: var(--mm-spacing);
  justify-content: start;

  @include variables.breakpoint('sm') {
    grid-template-columns: 1fr 1fr;
  }

  @include variables.breakpoint('lg') {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .blog-post__heading {
    margin: 0;
    padding: 0;
  }
}

.blog-post__header-image {
  border-radius: var(--mm-border-radius);
  margin: 0;
}

.blog-post__image {
  border-radius: var(--mm-border-radius);
  margin: 0;
}

.blog-post__categories {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: calc(var(--mm-spacing) / 2);
}

.blog-post__category ~ .blog-post__category::before {
  content: ' • ';
}

.blog-post__category {
  border-bottom: 0;
  color: var(--mm-color-primary-text);
  font-weight: 600;

  &:hover {
    color: var(--mm-color-link);
    text-decoration: none;
  }
}

.blog-post__category:not(:last-child) {
  padding-right: 4px;
}

.blog-post__reading-time::before {
  content: ' • ';
}

.blog-post__title {
  border: 0;
  color: var(--mm-color-medium-blue);
  font-size: 20px;
  font-weight: 700;
  grid-area: title;
  height: auto;
  line-height: 1.5em;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.blog-post__published {
  color: var(--mm-color-primary-text);
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600;
  height: min-content; /* stylelint-disable-line */
  line-height: 1.5em;
}

.blog-post__authors {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  padding-right: 5px;

  .blog-post__author ~ .blog-post__author::before {
    content: ', ';
  }
}

.blog-post__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: var(--mm-spacing);

  a {
    background-color: #e9ebed;
    border-radius: var(--mm-border-radius);
    color: var(--mm-color-dark-blue);
    font-size: 14px;
    padding: 5px 8px;
    text-decoration: none;
    transition: all 0.2s;
    white-space: nowrap;
    width: max-content; /* stylelint-disable-line */

    &:hover {
      background-color: var(--mm-color-link);
      color: var(--mm-color-background);
      text-decoration: none;
    }
  }
}

.blog-post__meta {
  align-items: center;
  color: var(--mm-color-primary-text);
  display: grid;
  font-size: 14px;
  grid-template-columns: 1fr auto;
  row-gap: 4px;

  @include variables.breakpoint('sm') {
    grid-template-columns: 1fr 1fr;
  }
}

.blog-post__date-reading-time {
  grid-area: reading;
}

.blog-post__share-label {
  align-self: center;
  display: none;

  @include variables.breakpoint('sm') {
    display: block;
  }
}

.blog-post__share-buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.blog-post__share-button {
  color: var(--mm-color-primary-text);
  display: inline-block;
  font-size: 24px;
  height: 30px;

  &:hover {
    color: var(--mm-color-link);
  }
}

.blog-post__share-button--x {
  margin-top: -2px;
}
