@use 'variables';

.content {
  display: grid;
  grid-template-rows: max-content max-content auto;
  height: 100%;
  row-gap: calc(var(--mm-spacing) / 4);
}

.authors__by {
  padding-right: 4px;
}

.posts__header {
  margin: 0;
  padding: 0 0 var(--mm-spacing) 0;
}

