@use 'variables';

.featured__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.featured {
  background: var(--mm-color-background);
  border-radius: var(--mm-border-radius);
  border-top: 1px solid rgba(0,0,0,.07);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  max-width: 800px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 5;
}

.blog-post__container-featured {
  grid-gap: var(--mm-spacing);
  display: -ms-grid;
  display: grid;
  gap: var(--mm-spacing);
  grid-template-areas:
    'graphic'
    'content';
  padding: var(--mm-spacing);
}

.blog-post__featured-image {
  align-content: center;
  border-radius: var(--mm-border-radius);
  display: grid;
  grid-area: graphic;
  height: 100%;
  justify-items: center;
  overflow: hidden;
  width: 100%;

  @include variables.pattern;

  svg,
  img {
    filter: drop-shadow(1px 2px 5px #0077c2);
    margin: 0;
    padding: calc(var(--mm-spacing) / 2);
    position: relative;
    width: 75%;
    z-index: 10;
  }
}

.blog-posts__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.blog-posts {
  display: grid;
  gap: calc(var(--mm-spacing) * 2) var(--mm-spacing);
  justify-content: center;
  max-width: var(--mm-max-width);
  padding: var(--mm-spacing);
  width: 100%;
}

.blog-post__container {
  display: grid;
  margin: auto;
  max-width: 650px;
}

.content {
  display: grid;
  grid-area: content;
  grid-template-areas:
    'category'
    'title'
    'published'
    'excerpt'
    'readmore';
  width: 100%;
}

.blog-post__categories {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--mm-font-stack-display);
  font-size: 14px;
  font-weight: 500;
  grid-area: category;
  margin-bottom: 10px;
}

.blog-post__category ~ .blog-post__category::before {
  content: ' • ';
}

.blog-post__category:not(:last-child) {
  padding-right: 4px;
}

.blog-post__heading {
  margin-top: 0;
}

h1.blog-post__heading {
  padding: 0 0 var(--mm-spacing);
}

h2.blog-post__heading {
  margin: 0;
  padding: 0;
}

.blog-post__title {
  border: 0;
  font-family: var(--mm-font-stack-display);
  font-size: 20px;
  font-weight: 700;
  grid-area: title;
  height: auto;
  line-height: 1.5em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.blog-post__published {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 600;
  gap: 4px;
  grid-area: published;
  grid-template-columns: max-content;
  line-height: 1.5em;
  margin-top: 10px;
}

.blog-post__authors {
  display: flex;
  flex-wrap: wrap;

  .blog-post__author ~ .blog-post__author::before {
    content: ', '
  }
}

.authors__by {
  padding-right: 4px;
}

.blog-post__date::before {
  content: ' • '
}

.blog-post__excerpt {
  grid-area: excerpt;
}

.blog-post__readmore {
  grid-area: readmore;

  a {
    font-size: 14px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.posts__header {
  border-bottom: 1px dashed var(--mm-color-border);
  margin: 0!important;
  max-width: 650px;
  padding: 0 0 var(--mm-spacing) 0;
}


.blog-post__content {
  a {
    align-items: center;
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    font-weight: 500;
    height: 20px;
    padding-bottom: 2px;
    text-decoration: none;
  }

  a:hover {
    border-bottom-style: solid;
  }
}

a.blog-post__category {
  border-bottom: none;
  color: var(--mm-color-primary-text);
  font-weight: 600;

  &:hover {
    border-bottom: none !important;
    color: var(--mm-color-display-text);
    text-decoration: none;
  }
}

@include variables.breakpoint('md') {
  .blog-post__container-featured {
    grid-template-areas: 'content graphic';
    grid-template-columns: 1fr 40%;
  }
}
