/***** Pagination *****/
@use 'mixins';
@use 'variables';

.pagination__arrow {
  display: grid;
  grid-area: arrow;
}

.pagination__nav {
  display: grid;
  gap: var(--mm-spacing);
  grid-template-areas: 'newer older';
  margin: auto;
  place-content: end space-between;
  width: 100%;

  a:hover {
    text-decoration: none;
  }
}

.pagination__newer {
  grid-area: newer;
  grid-template-areas: 'arrow direction';
  grid-template-columns: min-content 1fr;
  justify-self: left;
  padding: calc(var(--mm-spacing) / 4) calc(var(--mm-spacing) / 2) calc(var(--mm-spacing) / 4) 0;
  right: 0;
  text-align: left;

  &:hover {
    background: var(--mm-color-sidebar);
    cursor: pointer;
    padding-left: calc(var(--mm-spacing) / 4);
    right: calc(var(--mm-spacing) /2);
  }
}

.pagination__older {
  grid-area: older;
  grid-template-areas: 'direction arrow';
  grid-template-columns: 1fr min-content;
  justify-self: right;
  left: 0;
  padding: calc(var(--mm-spacing) / 4) 0 calc(var(--mm-spacing) / 4) calc(var(--mm-spacing) / 2);
  text-align: right;

  &:hover {
    background: var(--mm-color-sidebar);
    cursor: pointer;
    left: calc(var(--mm-spacing) / 2);
    padding-right: calc(var(--mm-spacing) / 4);
  }
}

/* stylelint-disable no-descending-specificity */
.pagination__newer,
.pagination__older {
  align-items: center;
  border-radius: var(--mm-border-radius);
  column-gap: calc(var(--mm-spacing) / 2);
  display: grid;
  font-size: 18px;
  font-weight: 500;
  grid-template-columns: auto;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.pagination__newer--pages,
.pagination__older--pages {
  grid-template-columns: min-content;
  width: min-content !important; /* stylelint-disable-line */
}

.pagination__newer--pages {
  justify-content: start;
}

.pagination__older--pages {
  justify-content: end;
}

.pagination__footer {
  @include mixins.page-alignment;

  padding-top: 0 !important;

  .pagination__nav {
    grid-template-areas:
      'newer'
      'older';
    grid-template-columns: 1fr;

    @include variables.breakpoint('md') {
      grid-template-areas: 'newer older';
      grid-template-columns: 1fr 1fr;
    }
  }

  .pagination__newer,
  .pagination__older {
    width: 85%;
  }
}

.pagination__direction {
  grid-area: direction;
}
