.post-author-bio {
  box-sizing: border-box;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;

  @media (min-width: 768px) {
    box-sizing: unset;
  }

  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
  }
}

.post-author-bio__item {
  margin: 35px 0 55px;
}
