.related-articles {
  margin-top: var(--mm-spacing);
}

.related-articles__heading {
  color: var(--mm-color-dark-blue);
  margin-bottom: calc(var(--mm-spacing) / 2);
  margin-top: 0;
}

.related-articles__list {
  list-style-type: none;
  padding-left: 0;
}

.related-articles__item {
  margin-bottom: calc(var(--mm-spacing) / 2);
}
