{{ define "main" }}
    <div class="author-bio article__container">
      <h1>Posts by {{ .Title }}</h1>
      <p>{{ .Content }}</p>
      {{ if ne .Params.linkedin "" }}
        <p>
          <a href="{{ .Params.linkedin }}" target="_blank" rel="noopener noreferrer">
            Connect with {{ .Title }} on LinkedIn
          </a>
        </p>
      {{ end }}
    </div>

    <hr />

    {{ $posts := where .Site.RegularPages "Params.authors" "intersect" (slice .Title) }}
    {{ if $posts }}
    <div class="blog-posts__wrapper">
      <div class="blog-posts">
        {{ range $posts }}
          {{ partial "post-list.html" . }}
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
