{{ define "main" }}
  {{ partial "topics-nav" . }}
  <div class="blog-posts__wrapper">
    <h1 class="posts__header">
      {{ with .Params.Heading }}
          {{ . }}
        {{ else }}
          {{ .Title }}
      {{ end }}
    </h1>
    <div class="blog-posts">
      {{ $sortedPages := partial "sort-by-latest.html" .Pages }}
      {{ $paginator := .Paginate $sortedPages }}
      {{ range $paginator.Pages }}
        {{ partial "post-list.html" . }}
      {{ end }}
    </div>
  </div>
  {{ partial "pagination" . }}
{{ end }}
