@use '../styles/_variables.scss';

.footer {
  display: grid;
  gap: var(--mm-spacing);
  grid-template-areas:
    'newer'
    'older';
  grid-template-columns: 1fr;
  margin: auto;
  max-width: 880px;
  padding: 0  0 var(--mm-spacing) 0;
  width: 100%;
  @include variables.max-width;
}

.footerNewer,
.footerOlder {
  background: 0.1s ease-in-out;
  border-radius: var(--mm-border-radius);
  color: var(--mm-color-display-text);
  column-gap: calc(var(--mm-spacing) / 2);
  display: grid;
  font-size: 18px;
  font-weight: 500;
  grid-template-columns: auto;
  padding: calc(var(--mm-spacing) / 4) calc(var(--mm-spacing) / 2);
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: var(--mm-color-sidebar);
    cursor: pointer;
  }
}

.footerNewer {
  grid-area: newer;
  grid-template-areas: 'arrow direction';
  grid-template-columns: min-content 1fr;
  right: 0;
  padding-left: var(--mm-spacing);
  text-align: left;

  &:hover {
    right: calc(var(--mm-spacing) / 2);
  }
}

.footerOlder {
  grid-area: older;
  grid-template-areas: 'direction arrow';
  grid-template-columns: 1fr min-content;
  left: 0;
  padding-right: var(--mm-spacing);
  text-align: right;

  &:hover {
    left: calc(var(--mm-spacing) / 2);
  }
}

.footerArrow {
  align-self: center;
  grid-area: arrow;
  justify-self: center;
}

.footerDirection {
  grid-area: direction;
}

@include variables.breakpoint('sm') {
  .footer {
    grid-template-areas: 'newer older';
    grid-template-columns: 1fr 1fr;
  }
}
