<div class="cta-square">
  <img class="cta-square__image" src="/images/notification_symbol.webp" alt="Notification symbol">
  <h3 class="cta-square__heading">Never miss out</h3>
  <p class="cta-square__description">Get notified whenever a new article is posted.</p>

  <script nonce charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/embed/v2.js"></script>
  <script nonce>
    hbspt.forms.create({
      portalId: "21266834",
      formId: "993dc629-448a-47b7-9c21-0b978d6cce9e",
      region: "na1"
    });
  </script>
</div>
