    {{ range first 1 .Site.RegularPages }}
      <div class="featured__wrapper">
        <div class="featured">
          <article class="blog-post__container-featured">
            <div class="blog-post__featured-image">
              {{ $image := (index (.Params.images) 0) }}
              <img src="{{ $image }}" alt="{{ .Title }}">
            </div>
            <div class="blog-post__featured-content">
                            <div class="blog-post__categories">
                {{ range .Params.category }}
                    <a class="blog-post__category "href="/category/{{ . | urlize}}">{{ . }}</a>
                {{ end }}
              </div>
              <h2 class="blog-post__featured-heading">
                <a href="{{ .RelPermalink }}">
                  {{ with .Params.Heading }}
                      {{ . }}
                    {{ else }}
                      {{ .Title }}
                  {{ end }}
                </a>
              </h2>
              <div class="blog-post__published">
                <div class="blog-post__authors">
                  <div class="authors__by">
                    by
                  </div>
                  {{ range .Params.authors }}
                    <div class="blog-post__author">{{ . }}</div>
                  {{ end }}
                </div>
                <div class="blog-post__date">
                  <time>{{ .Date.Format "January 2, 2006" }}</time>
                </div>
              </div>
              <div class="blog-post__excerpt">
                <p>{{ .Summary | safeHTML | truncate 200 }}</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    {{ end }}
