<article class="blog-post__container">
  <div class="content">
    <a href="{{ .RelPermalink }}">
    {{ if $headerImage := .Params.headerImage }}
      <img src="{{ $headerImage }}" alt="{{ .Title }}" class="blog-post__image">
    {{ else }}
      <img src="/images/header-placeholder.webp" alt="{{ .Title }}" class="blog-post__image">
    {{ end }}
    <h3 class="blog-post__heading">
    </a>
      <a href="{{ .RelPermalink }}" class="blog-post__title">
        {{ with .Params.Heading }}
          {{ . }}
        {{ else }}
          {{ .Title }}
        {{ end }}
      </a>
    </h3>
    <div class="blog-post__published">
      <div class="blog-post__authors">
        <div class="authors__by">
          by
        </div>
        {{ range .Params.authors }}
          <div class="blog-post__author">{{ . }}</div>
        {{ end }}
      </div>
    </div>
  </div>
</article>
