<div class="cta-square">
  <h3 class="cta-square__heading">Access IP Data Today!</h3>
  <p class="cta-square__description">Enhance your cybersecurity, analytics, and customer insights with the most accurate IP data solutions</p>
  <button class="cta-square__btn">Start your free trial</button>
</div>

<div class="related-posts">
  {{ with .Site.RegularPages.Related . | first 3 }}
  <h4 class="related-posts__heading">Related posts</h4>
  <ul class="related-posts__list">
    {{ range . }}
      <li class="related-posts__item"><a class="related-posts__title" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
{{ end }}
</div>
