{{ $current := .RelPermalink }}

<div class="topics-nav">
  <ul class="topics-nav__list">
  {{ range $name := site.Params.topics }}
    {{ $href := (print "/category/" (urlize $name) "/") }}
    <li class="topics-nav__item {{ if strings.Contains $current $href }}topics-nav__item--active{{ end }}">
      <a class="topics-nav__link {{ if strings.Contains $current $href }}topics-nav__link--active{{ end }}" href="{{ $href }}">{{ $name }}</a>
    </li>
  {{ end }}
  </ul>

  <div class="topics-nav__dropdown js-dropdown">
    <button type="button" class="topics-nav__dropdown-btn js-dropdown-btn" aria-expanded="false">
      Categories
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="topics-nav__dropdown-caret js-dropdown-caret" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
      </svg>
    </button>
    <ul class="topics-nav__content js-dropdown-content">
      {{ range $name := site.Params.topics }}
        {{ $href := (print "/category/" (urlize $name) "/") }}
        <li class="topics-nav__item {{ if strings.Contains $current $href }}topics-nav__item--active{{ end }}">
          <a class="topics-nav__link {{ if strings.Contains $current $href }}topics-nav__link--active{{ end }}" href="{{ $href }}">{{ $name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
