{{ define "main" }}

  <main aria-role="main">
    {{ $sortedPages := partial "sort-by-latest.html" .Site.RegularPages }}
    {{ $page := .Paginate $sortedPages }}
      {{ if eq $page.PageNumber 1 }}
        {{ partial "featured-post" . }}
      {{ end }}
    {{ partial "topics-nav" . }}
    <div class="blog-posts__wrapper">
      <div class="blog-posts">
        {{ if eq $page.PageNumber 1 }}
          {{ $pages := $sortedPages }}

          {{ $after1 := after 1 $pages }}
          {{ range first 3 $after1 }}
            {{ partial "post-list.html" . }}
          {{ end }}

          {{ partial "cta.html" . }}

          {{ $after4 := after 4 $pages }}
          {{ range first 5 $after4 }}
            {{ partial "post-list.html" . }}
          {{ end }}
        {{ else }}
          {{ range $page.Pages }}
            {{ partial "post-list.html" . }}
          {{ end }}
        {{ end  }}
      </div>
    </div>
  </main>
  {{ partial "pagination" . }}
  {{ if eq $page.PageNumber 1 }}
    {{ partial "popular-reads" . }}
  {{ end }}
{{ end }}
