@use '../../styles/variables';

.layout [class^='Layout-module--content'] {
  --mm-spacing: 20px;
  background-color: var(--mm-color-background);
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  justify-items: center;
}

.posts {
  display: grid;
  gap: var(--mm-spacing);
  padding: var(--mm-spacing);
}

@include variables.breakpoint('xs') {
  .placeholder {
    display: none;
  }
}

@include variables.breakpoint('md') {
  .layout [class^='Layout-module--content'] {
    --mm-spacing: 40px;
    background-color: var(--mm-color-background);
  }

  .posts {
    gap: var(--mm-spacing);
    grid-template-columns: repeat(2, minmax(0, 600px));
    justify-content: center;
  }
}

@include variables.breakpoint('lg') {
  .placeholder {
    display: block;
    margin: auto auto;
    width: 75%;
  }
}
