@use '../../styles/variables';

.container {
  display: grid;
  grid-template-areas: 'content';
}

.containerFeatured {
  display: grid;
  gap: var(--mm-spacing);
  grid-template-areas:
    'graphic'
    'content';
  padding: var(--mm-spacing);
  width: 100%;
}

.content {
  display: grid;
  grid-area: content;
  grid-template-areas:
    'category'
    'title'
    'published'
    'excerpt'
    'readmore';
  width: 100%;
}

.containerFeatured .content {
  align-items: start;
  grid-template-rows: max-content 1fr;
}

.title {
  border: 0;
  font-family: var(--mm-font-stack-display);
  font-size: 20px;
  font-weight: 700;
  grid-area: title;
  height: auto;
  line-height: 1.5em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.excerpt {
  grid-area: excerpt;
}

.graphic {
  align-content: center;
  border-radius: var(--mm-border-radius);
  display: grid;
  grid-area: graphic;
  height: 100%;
  justify-items: center;
  overflow: hidden;
  padding: var(--mm-spacing);
  width: 100%;

  @include variables.pattern;
}

.image {
  filter: drop-shadow(1px 2px 5px #0077c2);
  position: relative;
  width: 100%;
  z-index: 2;
}

.readmore {
  grid-area: readmore;
}

.readmore__link {
  border: 0;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 0;
}

.container:not(.containerFeatured) .tags {
  margin-top: calc(var(--mm-spacing) / 2);
}

@include variables.breakpoint('md') {
  .containerFeatured {
    grid-template-areas: 'content graphic';
    grid-template-columns: 1fr 40%;
  }

  .container:not(.containerFeatured) .meta {
    display: grid;
    justify-content: right;
  }

  .container:not(.containerFeatured) .content {
    display: grid;
    justify-self: center;
    max-width: 650px;
  }
}
