.tag {
  background-color: var(--mm-color-sidebar);
  border-radius: var(--mm-border-radius);
  color: var(--mm-color-display-text);
  font-size: 12px;
  padding: 2px 5px;
  margin: 5px 5px 5px 0;
  width: max-content;
  white-space: nowrap;

  &:hover {
    background-color: var(--mm-color-display-text);
    color: var(--mm-color-sidebar);
    cursor: pointer;
  }
}
