name: Links

on:
  push:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      issues: write # required for peter-evans/create-issue-from-file
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0
        with:
          fail: true
          args: --include-fragments --max-redirects 0 --accept '100..=103, 200, 201, 202, 203, 204, 205, 206, 301, 302, 307, 308, 403, 429, 500..=599, 999' './content/**/*.md' './layouts/**/*.html' './README.md'

      - name: Create Issue From File
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
